{% extends 'base.html.twig' %}

{% block title %}Edition {{ article.title }}{% endblock %}

{% block body %}
<h1>Edition de l'article {{ article.title }}</h1>
<p>{{ article.content }}</p>
{% endblock %}